{
  "app_data": {
    "application_id": "xxx",
    "category_activity_id": "xxx",
    "help": "You can get theses values with the '--first-connexion' command"
  },
  "users": [
    {
      "name": "Bob",
      "login": "bob@gmail.com",
      "password": "super-duper-secret-password",
      "slots": [
        {"day": "thursday", "time": "17:30", "activity": "Hyrox"}
      ]
	
    },
    {
      "name": "Alice",
      "login": "alice@gmail.com",
      "password": "nobody-cares",
      "slots": [
        {"day": "friday", "time": "11:30", "activity": "Endurance"}
      ]
    }
  ]
}